<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ToDo App</title>

    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="static/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="static/css/bootstrap_edit.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>
      <script src="static/js/tasks.js"></script>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document" onLoad="getTasks(true)">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ToDo App as {{ user }}</a>
          <a type="button" class="btn btn-default navbar-btn pull-right" href="{{ logout_url }}">Logout</a>
        </div>
      </div>
    </nav>

    <div class="container theme-showcase" role="main">
    <div class="row">
    <div id="tasks" class="list-group">
    <div id="formFilter">
    <form class="form-inline">
    <input type="date" id="filterDate" class="form-control" placeholder="Date: YYYY-MM-DD">
    <button type="button" onClick="getTasks(true)" class="btn btn-info">Filter</button>
    </form>
    </div>
    <div id="content">
    </div>
    </div>
    <div id="buttons">
    <input type="hidden" id="cursor" value="None">
    <button type="button" onClick="activateForm(this,false)" class="btn btn-warning">Add</button>
    <button type="button" class="btn btn-info" onClick="getTasks(false)">More</button>
    </div>
    </div> <!-- /container -->
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <div id="taskForm" class="formHidden">
    <form onsubmit="saveTask(this,false)" onreset="saveTask(this,true)" class="formHidden" id="realForm">
        <h2>Note editor</h2>
        <input type="hidden" id="taskId">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" size="2">
        </div>
        <div class="form-group">
            <label for="note">Note</label>
            <textarea class="form-control" id="note" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="dueDate">Due date (YYYY-MM-DD)</label>
            <input type="date" class="form-control" id="dueDate">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="starred"> Starred
            </label>
        </div>
        <center>
        <button type="submit" class="btn btn-success">Save</button>
        <input type="button" class="btn btn-danger" value="Cancel" onclick="deactivateForm()">
        <input type="reset" id="done_button" class="btn btn-info" value="Done">
        </center>
    </form>
    </div>
  </body>
</html>

